---
title: Travel
---

{% include header.html %}

{% include slider.html title=page.title subtitle="A little more info" image="_R3A8448" addedparams="fp-x=.45&fp-y=.4&crop=focalpoint&fit=crop&fp-z=1.3" %}

<section id="elements-4-section" class="section-block more-grey">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-10 text-center">
              <h3 class="h4 animation fadeInUp">HOW TO GET THERE</h3>
              <p class="intro-text animation fadeInUp">We will be chartering a bus from the Angers train station to Château de Challain-la-Potherie at 4 pm on Wednesday, October 17. If you are travelling from CDG airport, the fastest route is the TGV train. You can check the train schedule and book tickets on <a href="https://www.raileurope.com/train/tgv-7537" target="_blank">RailEurope</a>. If you prefer, feel free to rent a car to drive to the Chateau.</p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
  <div id="map-canvas-3"></div>
            </div>
        </div>
    </div>
</section>

<!---



--->

{% capture extrascripts %}

  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTnAC_eJUxEBcpinwv2WlAvQ301HSTipw"></script>
  <script type="text/javascript" src="js/markerlabel/markerwithlabel.js"></script>
  <script type="text/javascript" src="js/map-script-3.js"></script>

{% endcapture %}


{% include footer.html scripts=extrascripts%}
